#monthly-hackathons .chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

#monthly-hackathons .chart {
    background: #f04650;
    position:absolute;
    width: 100%;
}

#monthly-hackathons {
    position:relative;
    margin-bottom:420px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(1,16,24, 0.8);
  color: #fff;
  border-radius: 2px;
  text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:before {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  background: transparent;
  content: "\25B2";
  position: absolute;
  text-align: center;
  margin: -1px 0 0 0;
  left: 0;
  top: -2em;
}

.d3-tip h1 {
    padding:0;
    margin:0;
}

.circle {
    display:inline-block;
    width:150px;
    height:150px;
    border-radius:50%;
    font-size:50px;
    color:#fff;
    background:rgb(4, 48,64);
    padding-top:25px;
    text-align:center;
    margin:10px;
}

/* First-time hackers */

#first-time-hackers .chart {
    margin-left: 3em;
    float: right;
    padding-left: 100px;
}

#first-time-hackers polyline {
    opacity: .5;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}