/*
* HackTX IV CSS File
* https://bit.ly/1ywfhq7
*/

/* Open Sans Google Font */
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,300,600,700);

/* Robot Condensed Google Font */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

/* Montserrat Google Font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

::-webkit-input-placeholder {
  color: black;
}

:-moz-placeholder { /* Firefox 18- */
  color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

/* GENERAL STYLE */

* {
  font-family: 'Droid Serif', sans-serif;
  color: black;
  letter-spacing: -0.5px;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  margin: 0;
  padding: 0px 0px 50px 0px;
  font-size: 50px;
}

h2 b {
  font-family: 'Oswald', sans-serif;
}
h2 span {
  font-family: 'Oswald', sans-serif;
}

p {
  font-size: 24px;
}

.body-div {
    overflow-x: hidden;
}

.body {
    height: 100vh;
}

#skrollr-body {
  height: auto;
}

.hero {
  background: white;
  display: block;
  position: relative;
}

.hacktx-title {
    font-size: 10em;
    text-shadow: -8px 0px #37bbe4 !important;
    letter-spacing: 5px;
}

.email {
  background: none;
  border: 4px solid #f7f7f7;
  border-radius: 0;
  color: #f7f7f7;
  text-shadow: 1px 1px rgba(0,0,0,.1);
  font-size: 16px;
  padding: 14px;
}

.submit {
  background: #f7f7f7;
  border: none;
  border-radius: 0;
  color: rgb(126,211,242);
  font-size: 16px;
  padding: 18px 5px;
}

.form {
  margin-top: 100px;
  padding: 0 38px;
}

.hero-image {
  margin-top: 15vh;
  color: black;
  margin-top: 20px;
}

h3.hero-info{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1.13px;
  text-align: center;
  font-size: 32px;
}

.clouds {
  height: 0;
  width: 100vw;
}

#capitol {
  top: -250px;
  position: relative;
  margin: auto;
  display: block;
}

#cloud1,
#cloud2,
#cloud3,
#cloud4 {
  position: absolute;
}

#cloud1 {
  top: 20%;
  left: 4%;
  width: 100px;
}

#cloud2 {
  top: 20%;
  right: 10%;
  width: 90px;
}

#cloud3 {
  top: 10%;
  right: 25%;
  width: 68px;
  opacity: .95;
}

#cloud4 {
  top: 5%;
  left: 21%;
  width: 46px;
  opacity: .90;
}

/* ABOUT SECTION */

section {
  margin-bottom: 10vh;
}

.about {
  background: white
}

.about-info {
  text-align:center;
}

.about-info p {
  color: black;
  padding-top: 10px;
}

.about-info p,
.hackathon-data p,
.hacktx-data p {
  line-height: 45px;
  text-align: justify;
  font-weight: 300;
}

.hackathon-data p,
.hacktx-data p {
  font-size: 1.5em;
}

.about-info p b {
  color: #f04650;
}

.about-info h2 {
  display: inline;
}

.typed-title {
  color: #96211A;
}

/* HACKATHON/HACKTX DATA SECTION */

.hackathon-data {
  background: #white;
  line-height: 50px;
}

.hackathon-data p {
  padding-bottom:2em;
  text-align:justify;
}

.hacktx-info h4,
.hackathon-data h4 {
  color: #15323C;
  font-size: 31px;
  font-weight: bold;
  margin: 30px;
  text-align: center;
}

.hacktx-data {
  background: white;
  line-height: 50px;
}

.hacktx-data a {
    color: #BDBDBD;
}

.hacktx-data a:hover {
    color: white;
    text-decoration: underline;
}

.hacktx-data .demographics {
    text-align: justify;
    margin-top: 20px;
}

/* SOCIAL MEDIA SECTION */

.social-media {
  background: #white;
}

.social-media-info {
  margin-bottom: 100px;
}

.social-media-header {
  margin-top: 1em;
  margin-bottom: 1em;
}

.social-media p {
  margin-top: 15px;
  text-align: justify;
  font-weight: 300;
}

.twitter-grid {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.twitter-grid li,
.twitter-grid li {
    align-self: flex-end;
    display: flex;
    justify-content: center;
}

.image-grid .col-sm-6,
.image-grid .col-xs-10 {
    padding-left: 7px;
    padding-right: 7px;
}

.image-grid img {
    max-width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
}

/* OUTRO SECTION */

.quote {
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.quote a {
    color: inherit;
}

.quote h2 {
    font-weight: 100;
    font-size: 2em;
    padding: 0;
    line-height: 50px;
}

.outro .quote h2 {
    font-size: 24px;
    text-shadow: 0;
}

.quote h3 {
    font-weight: 500;
    font-size: 1.5em;
    font-style: italic;
    padding-right: 0.5em;
    color: #5AD286;
}

.outro {
  background: #ffffff;
}


.outro-info p, .outro-info p b {
  color: rgb(81,80,78);
}
.outro-info h2 {
  color: #51504E;
}

.outro-info p {
  text-align: justify;
  padding-top: 2em;
}

.outro-info .row {
  min-height: 10em;
  vertical-align: middle;
}

p.image-links {
  text-align: right;
  font-size: 1em;
  margin-top:0;
  padding-top:0;
}

/* CONTACT SECTION */

.contact {
  background: #white;
}

.contact-love {
  text-align: center;
  font-size: 17px;
}

.contact-detail {
  text-align: center;
  color: rgb(0,100,0);
  font-size: 12px;
}

.contact-social {
  text-align: center;
}

.contact-social i {
  padding: 5px;
}

.about .container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hacktx-data .container {
  padding-top: 120px;
  padding-bottom: 40px;
}

.hackathon-data .container {
    padding-top: 40px;
    padding-bottom: 80px;
}

.outro .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.chair {
  position: relative;
  display: inline-block;

}

.chair img {
  height: 20vh;
  margin-left: 20vw;
  margin-bottom: -5vh;
  display: block;
}

.contact .container {
  padding-top: 5vh;
  padding-bottom: 20px;
}

.skyline,
.bridge,
.hills,
.grass {
  z-index: 0;
}

.skyline {
  width: 100%;
  bottom: 0;
}

.bats {
  position: relative;
  bottom: 0;
  left: 70%;
}

.bats img {
  width: 12vw;
  padding-bottom: 2vh;
}

.hills {
  bottom: 0;
}

.grass {
  bottom: 0;
}

.hills img,
.skyline img,
.grass img {
  width: 100%;
}

.grass img {
  position: absolute;
  bottom: 0;
}

.about-info h2,
.schedule-info h2,
.hacktx-data-info h2,
.social-media-info h2,
.outro-info h2,
.contact-info h2{
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px rgba(0,0,0,.1);
}

@media (max-width: 768px) {
  .hack-title {
    margin:auto;
  }

  h2 {
    font-size: 34px;
  }
}

@media (max-width: 466px) {
  .hero-info {
    text-align: center;
  }

  h2.location,
  h2.date {
    float: none;
  }

  .about-info p,
  .hackathon-data p,
  .hacktx-data p,
  .hacktx-data .demographics,
  .social-media p,
  .outro p:not(.image-links) {
    text-align: left;
    font-weight: 300;
    line-height: 30px;
    font-size: 20px;
  }

  .schedule-time p,
  .schedule-detail p {
    line-height: 35px;
  }
}

.hack-logo {
  max-height: 100%;
  max-width: 100%;
}

.hack-img {
  display: inline-block;
  vertical-align: center;
  text-align: center;
  white-space: nowrap;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.star-rating .full {
  color: orange;
  display: inline-block;
}

.star-rating .partial {
  position: relative;
  display: inline-block;
}

.star-rating .partial .full {
  position: absolute;
}

.star-rating .partial .full div {
  width: 70%;
  overflow: hidden;
  color: inherit !important;
  /* hides slight render issue due to the star overlap */
  text-shadow: 0 0 1px white;
}
